footer {
  padding: 25px;
  background: green;
  min-height: 100px;
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#copyright {
  font-size: larger;
}
#socials img {
  height: 50px;
}
@media all and (max-width: 600px) {
  footer {
    flex-direction: column;
  }
}

/* @media screen and (max-width: 500px) {
  #body {
    background-color: yellow;
  }
} */
