@import "footer.css";
@import "header.css";
@import "sidebar.css";
@import "main.css";

body {
	font-family: 'Courier New', Courier, monospace;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-areas: 
	"header header header"
	"sidebar main main"
	"footer footer footer";
}
@media only screen and (max-width: 1100px) {
	body {
		font-family: 'Times New Roman', Times, serif;
	}
}
@media only screen and (max-width: 600px) {
	body {
		font-family: Arial, Helvetica, sans-serif;
		grid-template-columns: 1fr;
		grid-template-areas: 
		"header"
		"sidebar"
		"main"
		"footer";
	}
}

